body {
    border: none;
    margin: 0;
}

.window {
    height: 1920px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.blue {
    position: relative;
    background-color: #1e2a3a;
    width: 550px;
    display: flex;
    flex-direction: column;
    height: 1980px;
}

.blue h1 {
    margin-top: 60px;
}

.contacts {
    padding-left: 30px;
    position: relative;
    color: white;
    font-family: "Avenir Next bold", serif;
}

.contacts > b > h1 {
    font: 35px "Avenir Next bold";
}

.blue img {
    margin-top: 40px;
    border-radius: 20px;
}

.contacts > span {
    font: 25px "Avenir Next regular";
}

.contacts h2 {
    font: 40px "Avenir Next bold";
}

.contacts > h3 {
    font: 25px "Avenir Next bold";
}

.white {
    padding-top: 20px;
    margin-left: 100px;
    height: 1960px;
    width: 1080px;
}

.white p {
    font: 40px "Avenir Next bold";
}

.white > h3 {
    font: 25px "Avenir Next regular";
    color: #595959;
}

li {
    color: #595959;
}

.white > h2 {
    font: 28px "Avenir Next bold";
}

.white > h1 {
    font: 10px "Avenir Next bold";
}

.white h1 {
    font: 28px "Avenir Next bold";
    color: white;
    padding: 0 60% 0 15px;
    margin-right: 100px;
    background-color: #1e2a3a;
    border-radius: 10px;
}

.summary > li {
    font: 28px "Avenir Next regular";
    color: #595959;
}
.skills > li {
    font: 28px "Avenir Next bold";
    color: #595959;
}
.workExperience{
    position: relative;
}
.workExperience>h3{
    position: relative;
    font: 28px "Avenir Next bold";
    margin: -17px 0 40px 0;
}
.long{
    position: relative;
    top: 15px;
    width: 90%;
    height: 2px;
    background: #595959;
}
.workExperience>li{
    font: 28px "Avenir Next regular";
    list-style-type: none;
    color: black;
    padding: 10px;
}

.Education>li{
    font: 28px "Avenir Next regular";
    list-style-type: none;
    color: black;
    padding: 10px;
}
.Languages{
    font: 28px "Avenir Next bold";
    color: #595959;
}
.Portfolio{
    font: 33px "Avenir Next regular";
    list-style-type: none;
    color: black;
}
